<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=C:\Users\Userer\source\repos\WindowsFormsApp4\WindowsFormsApp4\obj\database.db;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NetFramework,Version=v4.6.1"/>
  </startup>
</configuration>